@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Source+Code+Pro:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	overscroll-behavior-x: none;
	-webkit-overflow-scrolling: touch;
}

body {
	font-feature-settings: 'kern' 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: -0.003em;
}
