@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-feature-settings: 'kern' 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: -0.003em;
}
